{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<section class="grupo-conexao" style="margin-left: 5em">
    <form action="{% url 'grupo_conexao_update' pk=grupo_conexao.pk %}" method="POST">
        {% csrf_token %}
        <div class="row mr-3">
            {% for field in form.visible_fields %}
            <div class="col-6 col-lg-6 mb-3" style="margin-bottom: 10px">
                <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>

        <div class="row mr-5 mb-5">
            <div class="col-12 col-lg-12">
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a href="{% url 'grupo_conexao_list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
</section>
</main>
</div>
</body>

{% endblock %}
