{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<section class="membros" style="margin-left: 5em">
    <h2>Consulta de Membros</h2>
    <form method="GET" action="{% url 'consulta' %}" class="mb-3">
        <div class="row mr-3">
            <div class="col-md-4">
                <input type="text" class="form-control" name="nome" placeholder="Filtrar por nome" value="{{ filtro_nome }}">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a href="{% url 'consulta' %}" class="btn btn-secondary">Limpar</a>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for membro in membros %}
            <tr>
                <td>{{ membro.id }}</td>
                <td>{{ membro.nome_completo }}</td>
                <td>{{ membro.data_nascimento }}</td>
                <td>{{ membro.email }}</td>
                <td>{{ membro.telefone }}</td>
                <td>
                    <a href="{% url 'editar' membro.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'excluir' membro.id %}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

